/* Reset & Default Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 
}

html, body {
  height: 100%;
  width: 100%;
}

main{
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card{
    height: 200px;
    width: 150px;
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    position: relative;
}

.card img{
    width: 100%;
    height: 150px;
    object-fit: cover;
    margin-bottom: 10px;
    border-radius: 10px;
}

.card h2{
    font-size: 10px;
    text-align: center;
}

.card i{
    position: absolute;
    top: 50%;
    left: 50%;
   font-size: 50px;
   opacity: 0;
    color: white;
    transform: translate(-50%,-50%) scale(0);
    transition: all ease 0.2s;
}